<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="mainCtrl">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mapletree Farms</title>

    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />


  </head>

  <body class="ng-cloak">

    <div class="container">
      <div class="header clearfix">

        <h3 class="text-muted">Mapletree Farms</h3>
      </div>

      <div >
        <!-- Not signed in user landing page -->

        <div id="shopping-cart">
          <div class="page-header">
            <h1>Invoce </h1>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Description</th>
                <th>Rate</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th class="price">Price</th>
              </tr>
            </thead> 
            <tbody>
              <tr ng-repeat="row in orders">
                <td>{{$index+1}}</td>
                <td>{{row.description}}</td>
                <td>{{row.rate}}</td>
                <td>{{row.unit}}</td>
                <td><span class="quantity">{{row.quantity}}</span></td>
                <td><span class="cost">&#8377; {{price(row.rate, row.quantity)}}</span></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan=5 style="text-align: right">Total</td>
                <td><span class="cost">&#8377;{{totalPrice()}}</span></td>
              </tr>
            </tfoot>
          </table>
          <a href="#" ng-if="(current_order().length > 0)" class="btn btn-success pull-right" ng-click="submitOrder()">Submit Order</a>


        </div>

      </div>
    </div>

    <footer class="footer">
      <p class="pull-right">v1.0</p>
      <p>© 2016 Mapletree Farms</p>
    </footer>

    </div>

    <script data-require="angular.js@1.4.6" data-semver="1.4.6" src="https://code.angularjs.org/1.4.6/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-sanitize.js"></script>
    <script src="/js/invoice.js"></script>

  </body>

</html>
