<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mapletree Farms</title>

    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body style="font-size:10px">

    <div class="container">
      <div >
        <!-- Not signed in user landing page -->

        <div id="shopping-cart">
          <div class="page-header">
            <h3>
              <span class="pull-right">Invoice</span>
              Mapletree Farms
            </h3>
          </div>
          
          <table class="invoice pull-right">
            <tr>
              <td><strong>Invoice No.</strong></td><td>{{_id}}</td>
            </tr>
            <tr>
              <td><strong>Date</strong></td><td>{{date}}</td>
            </tr>
          </table>

          <h4>ITEMS</h4>
          <table class="invoice">
            <tr>
              <td style="vertical-align:top"><strong>Bill To:</strong></td>
              <td>{{user.name}}</br>
                {{#if user.door_number}}
                {{user.door_number}}</br>
                {{/if}}
                {{user.community}}</br>
                {{user.mobile}}</br>
                {{user.email}}</br>
                Bangalore</br>
              </td>
            </tr>
          </table>

          <table class="invoice-table table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Description</th>
                <th>Rate</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th class="price">Price</th>
              </tr>
            </thead> 
            <tbody>
              {{#each items}}
              <tr>
                <td>{{inc @index}}</td>
                <td>{{description}}</td>
                <td>{{rate}}</td>
                <td>{{unit}}</td>
                <td><span class="quantity">{{quantity}}</span></td>
                <td><span class="cost">&#8377; {{price}}</span></td>
              </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <td colspan=4 rowspan=6></td>
              </tr>
              <tr>
                <td style="text-align: right">Sub Total</td>
                <td><span class="cost">&#8377;{{total_price}}</span></td>
              </tr>
              <tr>
                <td style="text-align: right">Discount</td>
                <td><span class="cost">&#8377;{{discount}}</span></td>
              </tr>
              <tr>
                <td style="text-align: right"><strong>Total</strong></td>
                <td><span class="cost"><strong>&#8377;{{discount_price}}</strong></span></td>
              </tr>
              {{#ifEqual state 'paid'}}
              <tr>
                <td style="text-align: right"><strong>Paid Amount</strong></td>
                <td><span class="cost"><strong>&#8377;{{paid_amount}}</strong></span></td>
              </tr>
              <tr>
                <td style="text-align: right"><strong>Balance Amount</strong></td>
                <td><span class="cost"><strong>&#8377;{{balance_amount}}</strong></span></td>
              </tr>
              {{/ifEqual}}
            </tfoot>
          </table>

        </div>

      </div>
      {{#ifEqual state 'delivered'}}
      <form id="demo_form" method="post" action="{{pg_url}}">
        <input type="hidden" placeholder="message name" name="msg_name" value='request_payment'>
        <input type="hidden" placeholder="originator entity" name="id" value='{{merchant_id}}'>
        <input type="hidden" placeholder="merchant id" name="merchant_id" value='{{merchant_id}}'>
        <input type="hidden" placeholder="merchant display" name="merchant_display" value="Mapletree Farms">
        <input type="hidden" placeholder="mobile no" name="mobile_no" value="{{mobile}}">
        <input type="hidden" placeholder="invoice no" name="invoice" value="{{_id}}">
        <input type="hidden" placeholder="invoice amount" name="invoice_amt" value="{{discount_price}}">
        <input type="hidden" placeholder="total amount" name="amount" value="{{discount_price}}">
        <input type="hidden" placeholder="callback url" name="callback_url" value="{{callback_url}}success">
        <input type="hidden" placeholder="callback failure url" name="callback_failure_url" value="{{callback_url}}failure">
        <input type="hidden" placeholder="signature" name="sign" value="{{sign}}">

        <input style="float:right" type="submit" class="btn btn-lg btn-success" value="Make Payment">
      </form>
      {{/ifEqual}}

      <h4>CUSTOMER INSTRUCTIONS</h4>
      <p>{{customer_instructions}}</p>

      {{#ifEqual state 'ordered'}}
      <h4>PLEASE NOTE</h4>
      <p>This is a provisional invoice. Once your order is delivered a new invoice will be generated. You will be able to make payment against that invoice.</p>
      {{/ifEqual}}

      {{#ifEqual state 'delivered'}}
      <h4>PAYMENT OPTIONS</h4>
      <p>You can make payment either online or offline. To make online payment, click on the <strong>Make Payment</strong> button above. To make offline payment transfer the amount using the following bank details. Please note that the account number contains your mobile number.</p>
      <p><strong>Account Details :</strong></br>
      Mapletree Farms Pvt. Ltd.			</br>
      A/C No: ZORGANIC&lt;Mobile no of customer&gt; </br>
      Indusind Bank, Basavangudi Branch, Bangalore  </br>
      IFSC Code: INDB0000039</br>
      </p>
      {{/ifEqual}}

      <footer class="footer">
        <p class="pull-right">v1.0</p>
        <p>© 2016 Mapletree Farms</p>
      </footer>

    </div>

  </body>

</html>
