<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mapletree Farms</title>

    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body style="font-size:10px">

    <div class="container">
      <div >
        <!-- Not signed in user landing page -->

        <div id="shopping-cart">
          <div class="page-header">
            <h1 class="pull-right">Invoice </h1>
            <h3>Mapletree Farms</h3>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Description</th>
                <th>Rate</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th class="price">Price</th>
              </tr>
            </thead> 
            <tbody>
              {{#each items}}
              <tr>
                <td></td>
                <td>{{description}}</td>
                <td>{{rate}}</td>
                <td>{{unit}}</td>
                <td><span class="quantity">{{quantity}}</span></td>
                <td><span class="cost">&#8377; {{price}}</span></td>
              </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <td colspan=5 style="text-align: right">Total</td>
                <td><span class="cost">&#8377;{{total_price}}</span></td>
              </tr>
            </tfoot>
          </table>

        </div>

      </div>

      <footer class="footer">
        <p class="pull-right">v1.0</p>
        <p>© 2016 Mapletree Farms</p>
      </footer>

    </div>

  </body>

</html>
